@import "tailwindcss";

@theme {
  --color-primary: #F8F8F8;
  --color-secondary: #EFEFED;
  --color-tertiary: #D6D4D2;
  --color-text: #232323;
  --color-muted: #71717a;
  --color-border: #e4e4e7;
  --color-accent: #111111;
}